body{
 
	background-color: #CACACA;

}


.divpage{
	
	width:100%;
	margin:0 auto;
	height:100%;
	min-height: 1000px;
	
}

.header{
	
	position: fixed;
	left: 0px;
	top: 0px;
	background-color:#444444;
	margin: 0 ;
	max-height:60px;
	width:100%;
	min-width:800px;
	font-size:23px;
	padding-bottom:1px;
	padding-left: 1px;
	padding-right:1px;
	color: #DBDBDB;
	
}

.homepage{

	position: absolute;
	float: left;
	margin:5px 10px;
	width:40px;
	border: 3px solid #444444;
}

.up{

	position: absolute;
	left:70px;
	float: left;
	margin:5px 0px;
	max-width:40px;
	border: 3px solid #444444;

}

.homepage:hover {
	
	border: 3px solid #22C48E;
	border-radius: 70%;
	
}

.up:hover {
	
	border: 3px solid #22C48E;
	border-radius: 70%;
	
}

.logo{
		
	max-height:55px;
	max-width:400px;
	margin:0 auto;
	
}

.menu{
	
	font-family: 'Montserrat', sans-serif;
	background-color: #999999;
	max-width:870px;
	height: 740px;	
	margin:75px auto 20px;
	padding:5px;
	text-align: left;
	font-size: 22px;
	color:white;
	border-radius: 8px;

}

.hm{

	padding-left:35px;
	

}

.hwhite{

	
}

.hgrey{

	

}

.ah1{
	
	border:0.1px solid #999999;
	margin-left: 55px;
	margin-top: 10px;
	margin-bottom: 5px;
	width: 39%;
	padding-top: 10px;
	list-style:none; 
	margin-bottom:10px;  

}

.ah1:hover{

	border:0.1px solid white;
	border-radius: 8px;
	background-color: #ffffff;
	color: #444444;

}

li{
	
	padding-left: 35px;
	padding-bottom: 10px;
	width: 39%;
	padding-top: 10px;
	list-style:none; 
	margin-bottom:10px; 

}

li:hover{

	border:0.1px solid white;
	border-radius: 8px;
	background-color: #ffffff;
	color: #444444;

}

a{

	color: white;
	text-decoration:none; 

}
.wh{

	border: 1px solid #999999;
	border-radius: 8px;
	color: white;
	background-color:#999999;
	max-width: 340px;
	padding: 5px;

}

.gh{

	border: 1px solid #F0F0F0;
	border-radius: 8px;
	color: #444444;
	background-color:#F0F0F0;
	max-width: 340px;
	padding: 5px;

}

.whitecontent{

	font-family: 'Montserrat', sans-serif;
	background-color: #F0F0F0;
	min-width:870px;	
	margin:25px auto 20px;
	padding:5px;
	text-align: left;
	font-size: 22px;
	color:#444444;
	max-width:870px;
	border-radius: 8px;

}

.greycontent{

	
	font-family: 'Montserrat', sans-serif;
	background-color:#999999;
	min-width:870px;	
	margin:25px auto 20px;
	padding:5px;
	text-align: left;
	font-size: 22px;
	color:#F0F0F0;
	max-width:870px;
	border-radius: 8px;

}

.wcontent{

	text-align: center;
	margin:10px 60px;
	font-size: 27px;

}

.gcontent{

	text-align: center;
	margin:10px 60px;
	font-size: 27px;

}

.imgcontent{
	
	max-width: 750px; 
	margin:30px 0px;

}

.video{
	
	margin:50px 3.5px;

}

.olli{
	
	text-align: center;
	margin:10px 60px;
	font-size: 27px;
	margin:50px 10px;

}